<!DOCTYPE html>
{% load widget_tweaks %}
{% load staticfiles %}

<html lang="en">
<head>
   <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MLRP School Gallery</title>
  <link rel="stylesheet" href={% static "css/font-awesome.min.css" %}>
  <link rel="stylesheet" href={% static "css/bootstrap.css" %}>
  <link rel="stylesheet" href={% static "css/style.css" %}>
  <link rel="stylesheet" href={% static "css/gallery.css" %}>
  <script src="{% static "js/jquery.js" %}"></script>
  <script src="{% static "js/rango-jquery.js" %}"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
    <link rel="stylesheet" href="style.css">

  <script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' %}"></script>
  <link href="{% static  'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' %}" rel="stylesheet">
  <script src="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' %}"></script>



  <!-- Favicons -->
  <link href={% static "img/favicon.png" %} rel="icon">
  <link href={% static "img/apple-touch-icon.png"} rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


  <!-- Libraries CSS Files -->
  <link href={% static "lib/font-awesome/css/font-awesome.min.css" %} rel="stylesheet">
  <link href={% static "lib/animate/animate.min.css" %} rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href={% static "css/style.css" %} rel="stylesheet">

   <!-- Include jQuery -->
   <script src="{% static 'http://code.jquery.com/jquery-1.8.2.min.js' %}"></script>

   <!-- Include jQuery Popup Overlay -->
   <script src="{% static 'http://vast-eng.github.io/jquery-popup-overlay/jquery.popupoverlay.js' %}"></script>

  <script type="text/javascript">
    $(function(){
      $("#btnclick").click(function(){
        $("#divpopup").dialog({
          title: "my jquery popup",
          width: 430,
          height: 200,
          modal: true,
          buttons: {
            Close:function(){
              $(this).dialog('close');
            }
          }
        });
      });
    })
  </script>

</head>
<body id="home">
<nav class="navbar navbar-expand-md navbar-light py-4 fixed-top">
    <div class="container">
      <a href="{% url 'index' %}" class="navbar-brand">
        <img src="{% static 'img/logo.jpg' %}" width="50" height="50" alt=""><h3 class="d-inline align-middle">MLRP</h3>
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
               <li class="nav-item">
                 <a href="{% url 'index' %}" class="nav-link">HOME</a>
               </li>
               <li class="nav-item">
                <a href="{% url 'gallery' %}" class="nav-link">GALLERY</a>
              </li>
          </ul>
        </div>
    </div>
  </nav>
    <section class="gallery-block compact-gallery">
    	<div class="container">
    		<div class="heading">
    			<h2>School Gallery</h2>
    		</div>

    		<div class="row no-gutters py-3">
				{% for picture in pictures %}
    			<div class="col-md-6 col-lg-4 item py-3 zoom-on-hover">
    				<a class="lightbox" href="{{ picture.image.url }}">
    					<img class="img-fluid image" src="{{ picture.image.url }} ">
    					<span class="description">
    						<span class="description-heading">{{ picture.caption }}</span>
    						<span class="description-body">{{ picture.description }}</span>
    				</a>
    			</div>
                {% endfor %}
			</div>
    	</div>
    </section>





 <!----------- Footer ------------>
 <footer id="footer" class="ct-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 ">
          <h2 class="ct-footer-list-header"><span style="color:white">OUR SCHOOL</span></h2>
          <ul>
            <p>
                <a href="#home"  ><span style="color:white">HOME</span></a>
            </p>
            <p>
                <a href="#mcontact"><span style="color:white">MESSAGE</span></a>

            </p>
            <p>
                <a href="#message"><span style="color:white">ABOUT US</span></a>
            </p>
            <p>
                <a href="#footer"><span style="color:white">CONTACT US</span></a>
            </p>
          </ul>
        </div>
        <div class="col-lg-4">


        </div>
        <div class="col-lg-4">
            <h2 class="ct-footer-list-header"><span style="color:white">CONTACT US</span></h2>
            <ul>
              <p>
                <address>
                  <span>LALITPUR ROAD<br></span>TARGUWAN<br>
                  TALBEHAT, LALITPUR, 284126<br>
                  <span>Phone: <a href="tel:9369381033">(+91) 9369381033</a></span>
                </address>
              </p>
                <a href="https://www.facebook.com/mlrppublicschool/" target="_blank" class="uu"><img alt="facebook" src="https://www.solodev.com/assets/footer/facebook-white.png"></a>

              </ul>
        </div>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script>
	      baguetteBox.run('.compact-gallery',{animation:'slideIn'});
	  </script>
  </footer>

 <script src="{% static 'js/jquery.min.js' %}"></script>
 <script src="{% static 'js/popper.min.js' %}"></script>
 <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
